* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container
{ padding: 40px 60px;
    background: #DFCFBE;
    display: flex;
    align-items:center;
    border: 5px solid rgba(190,190,190,0);
    box-shadow: 0 0 15px rgba(100,100,100,0.3);
    flex-direction: column;
 
}

.input{
padding: 12px 20px;
width:300px;
margin-bottom: 20px;
}
button{
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0; border-radius: 4px; 
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px; 
    box-sizing: border-box;
     color: #fff; 
     cursor: pointer;
      font-family: Montserrat,sans-serif; 
      font-size: .9em; margin: 5px;
       padding: 10px 15px;
        text-align: center; 
       user-select: none; 
       -webkit-user-select: none; 
       touch-action: manipulation;
    /*
    background-image: linear-gradient(#0dccea, #0d70ea);
     border: 0; border-radius: 4px; 
     box-shadow: rgba(0, 0, 0, .3) 0 5px 15px; 
     box-sizing: border-box;
      color: #fff; 
      cursor: pointer;
       font-family: Montserrat,sans-serif; 
       font-size: .9em; margin: 5px;
        padding: 10px 15px;
         text-align: center; 
        user-select: none; 
        -webkit-user-select: none; 
        touch-action: manipulation;
     }
    */



}
p{
margin-bottom: 20px;
}
 qr-image{
    display: none;
 
 }
 img{
    margin-bottom: 20px;
 }